<div class="text-layout">
  <h1>Prime NG</h1>
  <button
    pButton
    type="button"
    label="Click"
    icon="pi pi-check"
    iconPos="right"
    class="p-button-help"
  ></button>
</div>
<p-card [header]="name | titlecase" subheader="Esto es un subheader">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum odio quas
  quidem. Quos aspernatur adipisci maxime, quia blanditiis autem asperiores
  fugiat eius exercitationem molestiae reiciendis sit non. Repudiandae, debitis
  facere.
</p-card>
